/* .container {
    display: flex;
    justify-content: center;
}

.containerr {
    width: 100%;
}


.page {
    width: 100%;
    align-items: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
} */